:root {
    --bg-0: #000000;
    --bg-1: #0b0b0c;
    --bg-2: #000000;
    --bg-3: #000000;
    --bg-4: #000000;
    --bg-5: #0c0c0d;
    --font-color-1: #ffffff;
    --font-color-2: #f1f2f4;
    --font-color-3: #b5bac1;
    --font-color-4: #949ba4;
    --font-color-5: #80848e;

    --interactive-normal: #b5bac1;
    --interactive-hover: #dbdee1;

    --user-online: #23a459;
    --user-offline: #80848e;
    --user-idle: #faa61a;
    --user-dnd: #f04747;

    --blurple: #525adc;
}

.channel.active {
    background-color: var(--bg-1) !important;
}