:root {
    --bg-0: hsl(220, 7%, 8%);
    --bg-1: hsl(225, 6%, 13%);
    --bg-2: hsl(228, 7%, 15%);
    --bg-3: hsl(220, 7%, 18%);
    --bg-4: hsl(223, 7%, 21%);
    --bg-5: hsl(225, 7%, 24%);
    --font-color-1: rgb(255, 255, 255);
    --font-color-2: rgb(241, 242, 244);
    --font-color-3: rgb(181, 186, 193);
    --font-color-4: rgb(148, 155, 164);
    --font-color-5: rgb(128, 132, 142);

    --user-online: hsl(145, 65%, 39%);
    --user-offline: rgb(128, 132, 142);

    --blurple: rgb(82, 90, 220);
}