:root {
    --bg-0: #131416;
    --bg-1: #1f2023;
    --bg-2: #242529;
    --bg-3: #2b2d31;
    --bg-4: #323439;
    --bg-5: #393b41;
    --font-color-1: #ffffff;
    --font-color-2: #f1f2f4;
    --font-color-3: #b5bac1;
    --font-color-4: #949ba4;
    --font-color-5: #80848e;

    --interactive-normal: #b5bac1;
    --interactive-hover: #dbdee1;

    --user-online: #23a459;
    --user-offline: #80848e;
    --user-idle: #faa61a;
    --user-dnd: #f04747;

    --blurple: #525adc;
}