<div id="userPopupBackground" style="display: none;"></div>
<div id="userPopup" style="display: none;">
    <!-- Only shows when you are looking at a users profile -->
    <div id="userPopupNonEditable" class="userPopupMain" style="display: none;">
        <div class="userPopupTop">
            <img id="userPopupBanner" class="userPopupBanner" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
            <img id="userPopupAvatar" class="userPopupAvatar" />
            <div id="userPopupStatus" class="userPopupStatus" ></div>
        </div>
        <div class="userPopupBottom">
            <div id="userPopupNameContainer">
                <div id="userPopupUsername"></div>
                <span>#</span>
                <div id="userPopupDiscriminator"></div>
            </div>
            <span class="sectionHeader">Member Since</span>
            <span id="userPopupJoined"></span>
        </div>
    </div>
    <!-- Only shows when you are editing your profile -->
    <div id="userPopupEditable" class="userPopupMain" style="display: none;">
        <div class="userPopupTop">
            <input id="userPopupAvatarInput" type="file">
            <input id="userPopupAvatarInput" type="file">
            <img id="userPopupBannerEditable" class="userPopupBanner" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
            <img id="userPopupAvatarEditable" class="userPopupAvatar" src="./resource/user/<%= user.ID %>" />
            <div id="userPopupStatusEditable" class="userPopupStatus" ></div>
        </div>
        <div class="userPopupBottom">
            <span class="sectionHeader">Username</span>
            <input id="userPopupUsernameInput" placeholder="Username" value="<%= user.username ?? "" %>"></input>
            <span class="sectionHeader">Discriminator</span>
            <input id="userPopupDiscriminatorInput" placeholder="Discriminator" value="<%= user.discriminator ?? "" %>"></input>
            <!-- <span class="sectionHeader">Email</span>
            <input id="userPopupEmail" placeholder="Email"></input> -->
            <span class="sectionHeader">Password</span>
            <input id="userPopupOldPassword" placeholder="Old Password"></input>
            <input id="userPopupNewPassword" placeholder="New Password"></input>
            <a href="#" id="saveProfile" class="btn btn-success no-select">Save</a>
        </div>
    </div>
</div>
<script src="/resource/user_popup.js"></script>